<!DOCTYPE html>
<html lang="ru">
<meta charset="UTF-8">
<head>
    <title>Редактирование книги</title>
</head>
<body>
    <h1>Редактировать книгу</h1>
    
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Название:</label><br>
            <input type="text" name="title" value="{{book.title}}"" required>
        </p>
        
        <p>
            <label>Автор:</label><br>
            <input type="text" name="author" value="{{book.author}}"" required>
        </p>
        
        <p>
            <label>Цена:</label><br>
            <input type="number" name="price" value="{{book.price}}"" required>
        </p>
        
        <p>
            <label>Жанр:</label><br>
            <input type="text" name="genre" value="{{book.genre}}"">
        </p>
        
        <p>
            <label>Год публикации:</label><br>
            <input type="number" name="publication_year" value="{{book.publication_year}}">
        </p>
        
        <p>
            <button type="submit">Сохранить</button>
            <a href="/"><button>Отмена</button></a>
        </p>
    </form>
</body>
</html>