<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавление книги</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <style>
    .bg-dark a:hover {
      opacity: 0.7;
    }
  </style>
</head>

<body class="bg-light">

  <!-- Header -->
  {% include "includes/header.html" %}

  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">

        <div class="card border rounded-4 shadow-sm">
          <div class="card-body p-4">

            {% include "includes/book_form.html" with title="Добавить новую книгу" submit_text="Добавить" %}

          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>